<!-- <p>Valid: {{ myForm.valid }}</p>
<p>Invalid: {{ myForm.invalid }}</p> -->

<table>
  <tr>
    <td>Pristine</td>
    <td>{{ book.pristine }}</td>
  </tr>
  <tr>
    <td>Dirty</td>
    <td>{{ book.dirty }}</td>
  </tr>
  <tr>
    <td>Touched</td>
    <td>{{ book.touched }}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{ book.status }}</td>
  </tr>
  <tr>
    <td>Errors</td>
    <td>{{ book.errors | json }}</td>
  </tr>
</table>

<form #myForm="ngForm" (ngSubmit)="saveBook()" class="bookForm">
  <h1>Add New Book</h1>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input
      matInput
      name="Title"
      placeholder="Title"
      [(ngModel)]="model.title"
      required
      minlength="3"
      #book="ngModel"
    />
    <mat-icon matSuffix>title</mat-icon>
    <mat-hint *ngIf="book.invalid && book.touched"
      ><span *ngIf="book.errors?.required">Title field is required!</span>
      <span *ngIf="book.errors?.minlength"
        >Min length of title should be three!</span
      >
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Author</mat-label>
    <input
      matInput
      name="author"
      placeholder="Author"
      [(ngModel)]="this.model.author"
      required
      #author="ngModel"
    />
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint *ngIf="author.invalid && author.touched"
      >Author field is required!</mat-hint
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>TotalPages</mat-label>
    <input
      matInput
      type="number"
      name="TotalPages"
      placeholder="TotalPages"
      [(ngModel)]="model.totalPages"
      #totalPages="ngModel"
      min="10"
      max="1000"
    />
    <mat-icon matSuffix>auto_stories</mat-icon>
    <mat-hint [hidden]="totalPages.valid"
      >Total Pages field is required!</mat-hint
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <mat-select name="price" [(ngModel)]="model.price.value">
      <mat-option *ngFor="let price of prices" [value]="price.value">
        {{ price.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Published On</mat-label>
    <input ngModel name="PublishedOn" matInput [matDatepicker]="picker" />
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="model.isPublished" name="toggle" class="toggle"
    >Is Published</mat-slide-toggle
  >

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="myForm.invalid"
  >
    Save
  </button>
</form>
